@font-face {
    font-family: 'Austin-Roman';
    src: url(/public/font/Austin-Roman.otf);
    font-display: swap;
}
@font-face {
    font-family: 'Austin-RomanItalic';
    src: url(/public/font/Austin-RomanItalic.otf);
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Bold';
    src: url(/public/font/SuisseIntl-Bold.otf);
    font-display: swap;
}
@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url(/public/font/SuisseIntl-Regular.otf);
    font-display: swap;
}

