$fuentes : (
    "austin-roman" : 'Austin-Roman',
    "austin-italic" : 'Austin-RomanItalic',
    "suis-regular" :  'SuisseIntl-Regular',
    "suis-bold" :  'SuisseIntl-Bold'

);

@use 'navbar';
@use 'fonts';
@use 'colores';
@use 'ventacruzada';
@use 'cta';

h1, h2, h3, h4, h5 {
   font-family: map-get($fuentes, "austin-roman" );
} 
* {
   font-family: map-get($fuentes , "suis-regular" );
}

@mixin ancla ($fcolor, $fsize, $fhcolor, $lspacing) {
    color: $fcolor;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: $fsize;
    letter-spacing: $lspacing;
    &:hover {
      color: $fhcolor;
    }
  }


.footer {
    min-height: 500px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 4em 0;
    
    .navtab {
        li {
            list-style: none;
            padding-bottom: 1em;
            a {
                @include ancla(#fff, 13px, colores.$naranja, normal)
            }
        } 
    }
    .contactform {
        li {
            list-style: none;
            padding-bottom: 2em;
            a {
                @include ancla(#fff, 13px, colores.$naranja, 5px)
            }
        } 
    }
    .newsletter {
        li {
            list-style: none;
            padding: 0;
        }
        span {
            color: #fff;
            letter-spacing: 3px;
        }
        .form-group {
            margin-top: .6em;
            width: 75%;
            .form-control {
                border: 1px #fff solid;
                border-radius: 1px;
                background: transparent;
                color: #fff;
            }
        }
        .btn-secondary {
            border: 1px colores.$naranja solid;
            color: colores.$naranja;
            &:hover {
                color: #fff;
            }
        }
        
    }
    hr {
        border: 1px solid #fff;
        margin-top: 2em;
    }
    .contact {
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
       ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        align-items: center;
        li {
            list-style: none;
        }
       }

    }

    .pie {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #fff;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}