@use 'colores';

.navbar {
    min-height: 80px;
   .navbar-toggler {
    .navbar-toggler-icon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(105%) contrast(105%);
    }
   }
    .navbar-nav {
        gap: 50px;
    }
    .nav-item {
        a {
            color: #fff;
            text-transform: uppercase;
            font-size: .9em;
        }
    }
    .contactanos {
        border: 1px solid #fff;
        max-width: 200px;
        display: flex;
        justify-content: center;
        span {
            margin-right: .5em;
        }
        &:hover {
          background-color: colores.$naranja;
          border: 1px solid colores.$naranja;
          border-radius: 10px;
          transform: 500ms ease-in;
        }
    }
}
.bg-beyond {
    background-color: transparent;
} @media (max-width: 991px) {
    .bg-beyond {
        background-color:#000;
    }
}


nav.dark {
    background-color: #000 !important;
    padding-bottom: .4em;
    transition: 200ms ease-in; }
nav.dark .nav-link {
    color: #fff !important;
}
