.intereses {
    
    margin: 4em 0;
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.opciones {
    
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 20px;
   
   .opcion {
        .contenido {
            .capa-negra {
                position: absolute;
                inset: 0; /* equivale a top: 0; right: 0; bottom: 0; left: 0; */
                background-color: rgba(0, 0, 0, 0.5); /* negro con opacidad del 50% */
                z-index: 1;
            }
            position: relative;
            .contenido__imagen {
                height: 450px;
                width: 300px;
                z-index: -10;
            }
            .interior {
                position: absolute;
                z-index: 100;

                top: 190px;
                left: 55px;

                text-align: center;
                color:  #fff;
            }
            .boton a {

            }
            
        }
    }

}
