.intereses {
    overflow: hidden;
    min-height: 500px;
   margin: 8em 0;
   position: relative;
}

.opciones {
    display: flex;
    flex-direction: row;
    a {
        text-decoration: none;

    }
}

.opcion {
    box-sizing: border-box;
    margin-top: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
            .contenido {
                width: 300px;
                height: 500px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                img {

                    object-fit: cover;
                    position: absolute;
                    z-index: -2;


                }
                .interior {
                    text-align: center;
                    color: #fff;

                }

            }
    }
