$naranja : #BC5837;
$form-check-input-checked-bg-color: $naranja;
$form-check-input-checked-border-color: $naranja;
$form-range-thumb-bg: $naranja;
$form-range-thumb-active-bg: tint-color($naranja, 70%);
@import 'bootstrap/scss/bootstrap';

.header_index {
    .fondo {
     min-height: 600px;

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }
 
    .titular {
        color: #fff;
        text-align: center;
        h1 {
          font-size: 4em;
        }
       }
 
   
 
 }
@mixin boton ($ncolor, $hcolor, $bradius, $txtcolor, $ancho ) {
  background-color: transparent;
  color: $ncolor;
  border: 1px solid $ncolor;
  border-radius: $bradius;
  width: $ancho;
  &:hover {
    background-color: $hcolor;
    border: 1px solid $hcolor;
    color: $txtcolor;
  }
}
.btn-primary {
  @include boton($naranja, $naranja, auto, #fff, 280px );
}
.btn-secondary {
  @include boton(#fff, $naranja, 10px, #fff, 180px );
}
.btn-info {
  @include boton($naranja, $naranja, 10px, #fff, 180px )
}

