$fuentes : (
    "austin-roman" : 'Austin-Roman',
    "austin-italic" : 'Austin-RomanItalic',
    "suis-regular" :  'SuisseIntl-Regular',
    "suis-bold" :  'SuisseIntl-Bold'

);

@use 'navbar';
@use 'fonts';
@use 'colores';
@use 'cta';
@use 'buscador';
@use 'footer';

h1, h2, h3, h4, h5 {
   font-family: map-get($fuentes, "austin-roman" );
}
* {
   font-family: map-get($fuentes , "suis-regular" );
}
.headerindex {
    position: relative;
    padding-bottom: 1.5em;
    .fondo {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titular {
        color: #fff;
        text-align: center;
        line-height: 16px;
        padding-bottom: 1em;
        h1 {
          font-size: 4em;
        }
       }
 }

.titular {
    color: #fff;
    text-align: center;
    h1 {
      font-size: 4em;
    }
   }

.bucketlist {
    padding: 5em 0;
    .imagen {
        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }

    }
    .descripcion {
        padding: 1.5em 3em;
        h2 {
            color: colores.$naranja;
        }
        .cta {
            min-height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 2em;
            .iconos {
               width: 100%;
               ul {
                  list-style: none;
                  display: flex;
                  flex-direction: row;
                  gap: 10px;
                  margin: 0;
                  padding: 0;
                  li {
                     min-height: 40px;
                     display: flex;
                     flex-direction: row;
                     align-items: center;
                     justify-content: center;
                     img {
                        height: 30px;
                     }

                  }
                }
            }
            .costo {
               width: 100%;
               height: 40px;
               margin-top: 1em;

               p, span {
                  text-align: right;
                  font-family: map-get($fuentes , "suis-bold" );
                  height: 10px;
               } @media (max-width:550px) {
                p, span {
                    text-align: left;
                    height: 20px;
                 }
            }
            hr {
                border: solid 1px colores.$naranja;
             }
            }

         } @media (max-width:550px) {
            .cta {
               display: block;
            }
        }
    }@media (max-width:550px) {
        .descripcion {
            padding: 1em 1em;
        }
    }
    hr {
        border:  solid 1px #000 ;
        width: 100%;
    }

}
