$fuentes : (
    "austin-roman" : 'Austin-Roman',
    "austin-italic" : 'Austin-RomanItalic',
    "suis-regular" :  'SuisseIntl-Regular',
    "suis-bold" :  'SuisseIntl-Bold'

);


@use 'navbar';
@use 'fonts';
@use 'colores';
@use 'formulario';
@use 'footer';



h1, h2, h3, h4, h5 {
   font-family: map-get($fuentes, "austin-roman" );
}
* {
   font-family: map-get($fuentes , "suis-regular" );
}


.fondo {
    min-height:60vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.titular {
    color: #fff;
    text-align: center;
    h1 {
      font-size: 4em;
    }
   }
