$fuentes : (
    "austin-roman" : 'Austin-Roman',
    "austin-italic" : 'Austin-RomanItalic',
    "suis-regular" :  'SuisseIntl-Regular',
    "suis-bold" :  'SuisseIntl-Bold'

);

@use 'navbar';
@use 'fonts';
@use 'colores';
@use 'ventacruzada';
@use 'cta';
@use 'footer';

h1, h2, h3, h4, h5 {
   font-family: map-get($fuentes, "austin-roman" );
} 
* {
   font-family: map-get($fuentes , "suis-regular" );
}
.intro {
    padding: 3em 5em;
    .cta {
        min-height: 70px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 2em;
        .iconos {
           width: 100%;
           ul {
              list-style: none;
              display: flex;
              flex-direction: row;
              gap: 10px;
              margin: 0;
              padding: 0;
              li {
                 min-height: 40px;
                 display: flex;
                 flex-direction: row;
                 align-items: center;
                 justify-content: center;
                 img {
                    height: 30px;
                 }
                
              }
            }
        }
        .costo {
            width: 100%;
            height: 40px;
            margin-top: 1em;
           
            p, span {
               text-align: right;
               font-family: map-get($fuentes , "suis-bold" );
               height: 10px;
            } @media (max-width:550px) {
             p, span {
                 text-align: left;
                 height: 20px;
              }
         }
         hr {
             border: solid 1px colores.$naranja;
             width: 230px;
             float: right;
          }@media (max-width:550px) {
            hr {
               float: left;
               width: 100%;
            } 
        }
         }
       
     } @media (max-width:550px) {
        .cta {
           display: block;
        } 
    }
    .boton {
        text-align: center;
    }
}
.dias {
    padding: 4em 0;
    .imagen {
        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
       
    }
    .descripcion {
        padding: 1.5em 3em;
        h2 {
            color: colores.$naranja;
        }
        .cta {
            min-height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 2em;
            .iconos {
               width: 100%;
               ul {
                  list-style: none;
                  display: flex;
                  flex-direction: row;
                  gap: 10px;
                  margin: 0;
                  padding: 0;
                  li {
                     min-height: 40px;
                     display: flex;
                     flex-direction: row;
                     align-items: center;
                     justify-content: center;
                     img {
                        height: 45px;
                     }
                    
                  }
                }
            }
           
         } @media (max-width:550px) {
            .cta {
               display: block;
            } 
        }
    }@media (max-width:550px) {
        .descripcion {
            padding: 1em 1em;
        }
    }
    hr {
        border:  solid 1px #000 ;
        width: 100%;
    }
    
}