$fuentes : (
    "austin-roman" : 'Austin-Roman',
    "austin-italic" : 'Austin-RomanItalic',
    "suis-regular" :  'SuisseIntl-Regular',
    "suis-bold" :  'SuisseIntl-Bold'

);

@use 'navbar';
@use 'fonts';
@use 'colores';
@use 'cards';
@use 'cta';

h1, h2, h3, h4, h5 {
   font-family: map-get($fuentes, "austin-roman" );
} 
* {
   font-family: map-get($fuentes , "suis-regular" );
}
.experiencias {
   padding: 4em;
}
.opciones {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   gap: 20px;
}

