$fuentes : (
    "austin-roman" : 'Austin-Roman',
    "austin-italic" : 'Austin-RomanItalic',
    "suis-regular" :  'SuisseIntl-Regular',
    "suis-bold" :  'SuisseIntl-Bold'

);


@use 'navbar';
@use 'fonts';
@use 'colores';
@use 'destacadas';
@use 'formulario';
@use 'footer';



h1, h2, h3, h4, h5 {
   font-family: map-get($fuentes, "austin-roman" );
} 
* {
   font-family: map-get($fuentes , "suis-regular" );
}

.titular_index {
   .titular_2 {
      min-height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
         padding-bottom: .6em;
      }
   }
}

.categorias {
   padding: 0 20em;
   display: grid;
   justify-items: center;
   align-items: center;
   justify-content: center;
   align-content: center;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: 10px;
} @media (max-width:1399px) {
   .categorias {
      padding: 0 15em;
   }
}@media (max-width:1280px) {
   .categorias {
      padding: 0 15em;
   }
} @media (max-width:1199px) {
   .categorias {
      padding: 0 8em;
   }
} @media (max-width:991px) {
   .categorias {
      padding: 0 0;
   }
}

    


.quienes-somos {
   background: #FBF8F7;
   min-height: 600px;
   .contenido {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3.8em;
      h2 {
         margin-bottom: .7em;
      }
      p {
         font-size: 1.1em;
         margin-bottom: 1.3em;
      }
   }
   .img_contenido {
      margin: 0;
      text-align: right;
      padding: 0;
   }
}



.cta-experiencia {
   min-height: 450px;
   background-image: url(/public/img/webp/2.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   .titular{
      padding-bottom: 5em;
   }
}