$fuentes : (
    "austin-roman" : 'Austin-Roman',
    "austin-italic" : 'Austin-RomanItalic',
    "suis-regular" :  'SuisseIntl-Regular',
    "suis-bold" :  'SuisseIntl-Bold'

);


@use 'navbar';
@use 'fonts';
@use 'colores';
@use 'destacadas';
@use 'formulario';
@use 'footer';
@use 'buscador';

html {
   scroll-behavior: smooth;
   scroll-padding-top: 80px;
}

h1, h2, h3, h4, h5 {
   font-family: map-get($fuentes, "austin-roman" );
}
* {
   font-family: map-get($fuentes , "suis-regular" );
}

@keyframes movimiento {
   0% {
        transform: translateY(0);
   }
   50% {
      transform: translateY(5px);
   }

   100% {
      transform: translateY(0px);
   }
}


 .headerindex {
    position: relative;
    padding-bottom: 1.5em;
    .fondo {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titular {
        color: #fff;
        text-align: center;
        line-height: 16px;
        padding-bottom: 1em;
        h1 {
          font-size: 4em;
        }
       }
 }


   .categorias {
    padding: 0 20em;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
 } @media (max-width:1399px) {
    .categorias {
       padding: 0 15em;
    }
 }@media (max-width:1280px) {
    .categorias {
       padding: 0 15em;
    }
 } @media (max-width:1199px) {
    .categorias {
       padding: 0 8em;
    }
 } @media (max-width:991px) {
    .categorias {
       padding: 0 0;
    }
 }


.titular_index {
   .titular_2 {
      min-height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
         padding-bottom: .6em;
      }

   }

}
 .arrow {
         animation: movimiento 2s ease-in infinite;
      }





.quienes-somos {
   background: #FBF8F7;
   min-height: 600px;
   .contenido {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3.8em;
      h2 {
         margin-bottom: .7em;
      }
      p {
         font-size: 1.1em;
         margin-bottom: 1.3em;
      }
   }
   .img_contenido {
      margin: 0;
      text-align: right;
      padding: 0;
   }
}



.cta-experiencia {
   min-height: 450px;
   background-image: url(/public/img/webp/2.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   .titular{
      padding-bottom: 5em;
   }
}
